services:
  mongo:
    image: mongo:latest
    volumes:
      - data:/data/db
    ports:
      - 27017:27017
    networks:
      - internal

  mongo-express:
    image: mongo-express
    restart: always
    networks:
      - internal
      - default
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: !secret MONGO_EXPRESS_USERNAME
      ME_CONFIG_BASICAUTH_PASSWORD: !secret MONGO_EXPRESS_PASSWORD

networks:
  internal:

volumes:
  data:
